Sphinx==7.1.2
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
myst-parser==3.0.1
pydata-sphinx-theme==0.14.4

sphinx-notfound-page @ git+https://github.com/carpentries/sphinx-notfound-page@main
